body.principal {
 background-color: #444444;
  text-align: center;
}

body{
  background-color: #444444;
}
.sessao {
  color: blue;
}

ul .A {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

.container {
  font-weight: bold;
  font-size: 5px;
  text-align: center;
}

header {
  background: linear-gradient(black, #444444);
  padding: 20px;
}

header img {
  width: 300px;
}

.nome {
  color: blue;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.container {
  top: 110px;
  right: 0;
}

.container li {
  display: inline;
  margin: 0 0 0 15px;
  text-align: center;
}

.container a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}



.footer {
  color: blue;
  margin: 0;
}

footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 20vh;
	background: linear-gradient(#444444, black);
	background-size: cover;
	text-align: center;
}


footer p{
	display: block;
	width: 100%;
	font-size: 1.3em;
	margin: 10px 0px;
}